name: crypto
description: "A new Flutter project."
publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  intl: ^0.18.0  

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/btc.jpg
    - assets/images/ethereum.jpg
    - assets/images/solana.jpg
    - assets/images/doge.jpg
    - assets/images/cardano.jpg
    - assets/images/xrp.jpg
    - assets/images/polkadot.jpg
    - assets/images/litecoin.jpg
    - assets/images/avalanche.jpg
    - assets/images/shiba.jpg
